body {
    background-color: #f4f7f6;
    font-family: Arial, sans-serif;
    padding: 20px;
}
 
h1 {
    font-family: Arial;
}

h3 {
    font-family: Arial;
}

p {
    font-family: Arial;
}

label  {
    font-family: Arial;
}

